In [19]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

Давайте завершим и слегка модифицируем задачу из предыдущей лекции. Напишите функцию get_negative_values, которая получает на вход dataframe произвольного размера. Функция должна для каждой переменной в данных проверять, есть ли в ней отрицательные значения. Если в переменной отрицательных значений нет, то эта переменная нас не интересует, для всех переменных, в которых есть отрицательные значения мы сохраним их в виде списка или матрицы, если число элементов будет одинаковым в каждой переменной (смотри пример работы функции).
```
> test_data <- as.data.frame(list(V1 = c(-9.7, -10, -10.5, -7.8, -8.9), V2 = c(NA, -10.2, -10.1, -9.3, -12.2), V3 = c(NA, NA, -9.3, -10.9, -9.8)))
> get_negative_values(test_data)
$V1
[1]  -9.7 -10.0 -10.5  -7.8  -8.9

$V2
[1] -10.2 -10.1  -9.3 -12.2

$V3
[1]  -9.3 -10.9  -9.8


> test_data <- as.data.frame(list(V1 = c(NA, 0.5, 0.7, 8), V2 = c(-0.3, NA, 2, 1.2), V3 = c(2, -1, -5, -1.2)))
> get_negative_values(test_data)
$V2
[1] -0.3

$V3
[1] -1.0 -5.0 -1.2

> test_data <- as.data.frame(list(V1 = c(NA, -0.5, -0.7, -8), V2 = c(-0.3, NA, -2, -1.2), V3 = c(1, 2, 3, NA)))
> get_negative_values(test_data)
       V1   V2
[1,] -0.5 -0.3
[2,] -0.7 -2.0
[3,] -8.0 -1.2
 ```
Если чувствуете, что задачка не дается, ничего страшного, тут вся сложность отобрать только нужные колонки! Пройдите следующий урок, возможно вооружившись знаниями, как нам отбирать колонки данных по некому условию вы слегкостью решите эту задачу!

In [0]:
%%R 
get_negative_values <- function(test_data){
    t <- apply(test_data, 2, function(x) x[x < 0 & !is.na(x)])
    t <- t[lapply(t,length)>0]
    return(t)
}

In [34]:
%%R
test_data <- as.data.frame(list(V1 = c(NA, -0.5, -0.7, -8), V2 = c(-0.3, NA, -2, -1.2), V3 = c(1, 2, 3, NA)))
get_negative_values(test_data)

$V1
[1] -0.5 -0.7 -8.0

$V2
[1] -0.3 -2.0 -1.2

Напишите функцию na_rm которая заменяет все пропущенные значения в столбцах dataframe на соответствующее среднее значение. То есть все NA в первом столбце заменяются на среднее значение первого столбца (рассчитанного без учета NA). Все NA второго столбца заменяются на среднее значение второго столбца и т.д.  

Функция na_rm на вход получает dataframe произвольной размерности, состоящий из количественных переменных. Функция должна возвращать  dataframe с замененными NA. Ни порядок столбцов, ни порядок строк в dataframe изменять не нужно.

Вы можете создавать вспомогательные функции для решения этой задачи. 

Напоминаю, что для проверки является ли наблюдение NA нужно использовать функцию is.na()
```
> test_data <- as.data.frame(list(V1 = c(NA, NA, NA, NA, 13, 12, 9, 10, 8, 9, 11, 11, 10, 12, 9), V2 = c(NA, 12, 8, NA, 11, 11, 9, 8, 8, 10, 10, 11, 10, 10, 10), V3 = c(NA, 5, NA, 13, 12, 11, 11, 14, 8, 12, 8, 8, 10, 10, 8), V4 = c(10, 10, 10, 10, 13, 10, 11, 7, 12, 10, 7, 10, 13, 10, 9)))
> na_rm(test_data)
         V1        V2 V3 V4
1  10.36364  9.846154 10 10
2  10.36364 12.000000  5 10
3  10.36364  8.000000 10 10
4  10.36364  9.846154 13 10
5  13.00000 11.000000 12 13
6  12.00000 11.000000 11 10
7   9.00000  9.000000 11 11
8  10.00000  8.000000 14  7
9   8.00000  8.000000  8 12
10  9.00000 10.000000 12 10
11 11.00000 10.000000  8  7
12 11.00000 11.000000  8 10
13 10.00000 10.000000 10 13
14 12.00000 10.000000 10 10
15  9.00000 10.000000  8  9
```

In [43]:
%%R
na_rm  <- function(x){
    t <- apply(x, 2, function(x) ifelse( is.na(x) , mean(x, na.rm = T), x))
    return(as.data.frame(t))
}
test_data <- as.data.frame(list(V1 = c(NA, NA, NA, NA, 13, 12, 9, 10, 8, 9, 11, 11, 10, 12, 9), V2 = c(NA, 12, 8, NA, 11, 11, 9, 8, 8, 10, 10, 11, 10, 10, 10), V3 = c(NA, 5, NA, 13, 12, 11, 11, 14, 8, 12, 8, 8, 10, 10, 8), V4 = c(10, 10, 10, 10, 13, 10, 11, 7, 12, 10, 7, 10, 13, 10, 9)))
na_rm(test_data)

         V1        V2 V3 V4
1  10.36364  9.846154 10 10
2  10.36364 12.000000  5 10
3  10.36364  8.000000 10 10
4  10.36364  9.846154 13 10
5  13.00000 11.000000 12 13
6  12.00000 11.000000 11 10
7   9.00000  9.000000 11 11
8  10.00000  8.000000 14  7
9   8.00000  8.000000  8 12
10  9.00000 10.000000 12 10
11 11.00000 10.000000  8  7
12 11.00000 11.000000  8 10
13 10.00000 10.000000 10 13
14 12.00000 10.000000 10 10
15  9.00000 10.000000  8  9